* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--accent-color);
}

*::-webkit-scrollbar
{
	background-color: transparent;
}

:root {
    --accent-color: #F9BD55;
}

body {
    
}

header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    z-index: 100;
    background-color: white;
    box-shadow: 0px 3px 8px 0px rgba(34, 60, 80, 0.2);
}

#header-title {
    color: var(--accent-color);
}

.header-left, 
.header-middle, 
.header-right {
    display: flex;
    align-items: center;
}

.header-left {
    cursor: pointer;
}

.header-middle {
    width: 50%;
}

.search-input {
    width: 100%;
    height: 30px;
    border-color: black;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: none;
    border-style: solid;
    padding: 5px;
}

.search-input:focus {
    border-color: var(--accent-color);
}

.search-button {
    background-color: white;
    border: 2px solid black;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-left: none;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header-button {
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menu {
    margin-left: 10px;
    position: relative;
}

.menu-icon {
    cursor: pointer;
    padding: 10px;
    /* border: 3px solid var(--accent-color); */
    border-radius: 50%;
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu:hover .menu-list{
    display: block;
}

.menu-list {
    width: 135px;
    position: absolute;
    display: none;
    right: 0; 
    background-color: white;
    list-style: none;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 3px rgba(34, 60, 80, 0.2);
}

.menu-list-item {
    padding: 10px 25px;
    transition: background-color .2s linear;
    cursor: pointer;
}

.menu-list-item:hover {
    background-color: #E7E8E9;
}

.menu-list-item:last-of-type {
    border-top: 1px solid #999;
    color: red;
}

.menu-list-item-content {
    display: flex;
    align-items: center;
}

.menu-list-item-content img {
    margin-right: 10px;
}

.content {
    height: calc(100% - 70px);
    position: fixed;
    display: flex;
    transform: translateY(70px);
}

main {
    overflow-y: auto;
    padding: 0 20px;
}

aside {
    width: 280px;
    height: 100%;
    background-color: #ebebeb;
}

.streamer-list {
    overflow-y: auto;
    height: calc(70vh);
}

.streamer-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color .2s linear;
}

.streamer-list-item:hover {
    background-color: white;
}

.streamer-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.streamer-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}

.streamer-name {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 130px;
}

.streamer-info-right {
    display: flex;
    align-items: center;
}

.streamer-live-blink {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    animation-name: live-blink;
    animation-direction: alternate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    margin-right: 5px;
}

.fab {
    font-size: 35px;
    transition: color .2s linear;
}

.social i {
    cursor: pointer;
}

.fa-telegram:hover {
    color: #28A5E5;
}

.fa-instagram:hover {
    color: #DB2A8D;
}

.fa-facebook:hover {
    color: #4867AA;
}

.community-wrapper {
    padding: 0 20px;
    text-align: center;
    height: 30vh;
    border-top: 1px solid white;
}

.community h5 {
    font-size: 20px;
    padding: 30px;
}

.community h5::selection {
    color: white;
    background-color: var(--accent-color);
}

.social {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.categories {
    width: calc(100vw - 320px);
    display: flex;
    align-items: center;
    overflow-x: auto;
}

.category {
    background-color: #ebebeb;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}

.category:first-child {
    background-color: var(--accent-color);
    color: white;
    border-color: var(--accent-color);
}

.videos {
    display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fill, minmax(200px, auto));
	height: fit-content;
    margin: 20px 0;
}

.video {
    cursor: pointer;
}

.video-preview {
    position: relative;
}

.video-preview-image {
    display: block;
    width: 100%;
    height: 100%;
}

.video-live {
    position: absolute;
    left: 10px;
    top: 10px;
    color: white;
    background-color: red;
    padding: 5px;
    border-radius: 8px;
    z-index: 10;
}

.video-duration {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 8px;
    z-index: 10;
}

.video-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color .2s linear;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-overlay:hover {
    background-color: rgba(0,0,0,.3);
}

.video-overlay:hover .play-icon {
    opacity: 1;
}

.play-icon {
    display: block;
    width: 30px;
    height: 30px;
    opacity: 0;
    transition: opacity .2s linear;
}

.video-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video-description .streamer-img {
    margin-right: 20px;
}

.video-description-content {
    width: 100%;
}

.more-icon {
    height: 10px;
    width: 10px;
}

footer {
    text-align: center;
    padding-bottom: 20px;
}

footer img {
    height: 10px;
    width: 10px;
}

@media screen and (max-width: 1200px) {
    aside {
        width: fit-content;
    }

    .streamer-list {
        height: calc(100vh - 70px);
        width: fit-content;
    }

    .streamer-info {
        display: none;
    }

    .community-wrapper {
        display: none;
    }

    .categories {
        width: calc(100vw - 118px);
    }
} 

@keyframes live-blink {
    from {
        box-shadow: 0px 0px 1px 0px rgba(255, 0, 0, .2);
    }

    to {
        box-shadow: 0px 0px 1px 4px rgba(255, 0, 0, .2);
    }
}